.logoTELKOMCARE.logoTELKOMCARE {
  width: 185.5684px;
  height: 40px;
}
.telkoCare.telkoCare {
  right: 0%;
}
.telkoCare {
  right: 0%;
}
.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.line2.line2 {
  outline: solid 1px #f00;
}
.line3.line3 {
  outline: solid 1px #f00;
}
.icon4.icon4 {
  width: 20px;
  height: 20px;
}
.iconlyBoldCategory.iconlyBoldCategory {
  left: 1.6667px;
  top: 1.6667px;
  width: 16.6667px;
  height: 16.6664px;
}
.iconlyBoldCategory {
  left: 1.6667px;
  top: 1.6667px;
  width: 16.6667px;
  height: 16.6664px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.root {
  position: absolute;
  left: 337px;
  top: 55px;
  width: min-content;
  height: 995px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 32px 24px 24px;
  background-color: #fff;
}
.frame162969 {
  height: 412px;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.devider {
  max-width: 100%;
  height: 0;
  max-height: 100%;
  align-self: stretch;
  border-bottom: solid 1px #d8dcdf;
  margin-bottom: -1px;
}
.frame49 {
  width: min-content;
  height: 324px;
  flex-direction: column;
}
.frame46 {
  width: 185.5684px;
  height: min-content;
  flex-direction: column;
}
.topMenu {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.menu3 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}
.label {
  color: #a6afca;
  font-size: 14px;
  line-height: 160%;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.menu {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 5px;
  background-color: #fff5f5;
  overflow: hidden;
}
.label2 {
  color: #f00;
  font-size: 14px;
  line-height: 160%;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.menu4 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 5px;
  overflow: hidden;
}
.icon6 {
  width: 20px;
  height: 20px;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.label3 {
  color: #a3aed0;
  font-size: 14px;
  line-height: 160%;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.menu5 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 5px;
  overflow: hidden;
}
.icon8 {
  width: 20px;
  height: 20px;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.label4 {
  color: #a3aed0;
  font-size: 14px;
  line-height: 160%;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.menu2 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 5px;
  overflow: hidden;
}
.icon10 {
  width: 20px;
  height: 20px;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.label5 {
  color: #a3aed0;
  font-size: 14px;
  line-height: 160%;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.menu6 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 5px;
  overflow: hidden;
}
.icon12 {
  width: 20px;
  height: 20px;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.label6 {
  color: #a3aed0;
  font-size: 14px;
  line-height: 160%;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.hideButton {
  width: 32px;
  height: 32px;
  overflow: visible;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.frame162977 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.halamanAkun {
  color: #757575;
  font-size: 14px;
  line-height: 160%;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  width: 120px;
  height: min-content;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.menu7 {
  width: 185.5684px;
  height: min-content;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 5px;
  overflow: hidden;
}
.icon15 {
  width: 20px;
  height: 20px;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.label7 {
  color: #a3aed0;
  font-size: 14px;
  line-height: 160%;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
